:root {
  --app-primary: #71b4ec;
  --app-primary-dark: #0e3557;
  --app-secondary: #aaffe1;
  --app-tertiary: #ecc655;

  --app-light: #9ac4c8;
  --app-light-head: #2f9479;
  --app-light-nav: #86bbac;
  --app-light-footer: #4cadcd;
  --app-dark: #000000;
  --app-dark-nav: #3d3953;
  --app-dark-head: #a83232;
  --app-dark-footer: #6f0707;

  --app-error: #ec687c;
  --app-warning: #f09a69;
  --app-success: #b8d887;
}
