.allMessages{
  display: flex table-column;
  // align-content: flex-end;
  // float: center;
  // margin: auto;
  align-content: center;
  margin-left: 10px;
  color: black;
}
.messageCapsule{
  overflow: hidden;
  white-space: pre-wrap;
  border: 1px solid black;
  border-radius: 10px;
  background-color: antiquewhite;
  padding: 0.7rem;
  margin: 10px;
  text-align: left;
  width: 100vh;
}
.dateMessage{
  font-size: 0.7em;
  margin: 5px;
}
.userMessage{
  font-size: 0.7em;
  margin: 5px;
  font-weight: bold;
}
